* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.4 Georgia, Serif;
    margin: 20px
}

label {
    font-weight: bold;
}

input {
    width: 70px
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

.fix-width-40 {
    max-width: 40px;
    min-width: 40px;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: #ffffff;
}